
body {
  /*background-image: url(sunset.jpg);*/
  background-color: blueviolet;
}

.navbar-brand {
  color: rgb(255, 255, 255);
}

.container-fluid {
    background-color:darkmagenta;
    padding: 20px;
    
  }
  
  table {
    color: rgb(255, 255, 255);
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

  }
  
  td, th {
    border: 3px solid #a82626;
    text-align: center;
    padding: 8px;
     
  }

  h1 {
    color: rgb(255, 255, 255);
    padding: 20px;
  }

  form {
    color: rgb(255, 255, 255);
    padding: 20px;
  }

  input {
    background-color:lightgray;
  }

  

